.dark-content {
    color: white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: white;
    }
}

.img-circle {
    border-radius: 50%;
}

.bg-primary{
    background: linear-gradient(105.63deg, #ea2626 -21.04%, #0029ff 147.44%);
}