.portfolio-cards {
    margin-top: 60px;
    padding: 20px 40px 0px 40px;




    .portfolio-card {
        background: white;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 30px;


        .portfolio-card-image {
            background-size: cover;
            background-position: center;
            height: 210px;
            border-bottom: 2px solid #3c037f;
        }

        .portfolio-card-information {
            padding: 25px 5px;

            .portfolio-card-title {
                display: block;
                margin-bottom: 5px;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 1px;
                color: #3c037f;
            }

            .portfolio-card-credits {
                display: block;
                color: #a7a7a7;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 600;
                font-size: 14px;
            }
        }
    }
}